<div>
	<li><%= link_to "Proposals", proposals_path, class: "list-group-item list-group-item-action" %></li>
	<li><%= link_to "Responses", responses_path, class: "list-group-item list-group-item-action" %></li>
</div>